{
    "metadata_url": "${METADATA_URL}",
    "targets_url": "${ARTIFACTS_URL}",
    "swupdate_socket": "/tmp/sockinstctrl",
    "log_level": "DEBUG",
    "no_save": true,
    "prefix_targets_with_hash": true
}
